# Dependencies
node_modules/

# Next.js
.next/
.next/cache/

# Static export/build
out/

# Vercel/hosting
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Tooling
.qodo/
